<div class="main_contents">
  <h2>細目一覧</h2>
  <table class="table table-bordered design-table">
    <tr class="success"><th>細目名</th><th>親カテゴリー</th></tr>
    <% @sorts.each do |sort| %>
      <tr><td><%= sort.name %></td><td><%= sort.category.name %></td><tr>
    <% end %>
  </table>
</div>
