<h2>今月使ったお金</h2>

<table>
  <tr>
    <th>金額</th><th>詳細</th><th>日時</th>
  </tr>
  <% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.amount %>円</td>
    <td><%= booking.detail %></td>
    <td><%= booking.date.strftime("%m月%d日") %></td>
    <td><%= link_to '編集', edit_booking_path(booking) %></td>
  </tr>
  <% end %>
</table>
