<div class="main_contents">
  <h2><%= current_user.name %>さんの集計</h2>
  <table class="table table-bordered design-table">
    <tr class="success"><th>項目</th><th>金額</th></tr>
    <% @amounts.each do |elm1, elm2| %>
      <tr>
        <td><%= elm1 %></td><td><%= elm2 %>円</td>
      </tr>
    <% end %>
  </table>

  <div class="links">
   <%= link_to '戻る', :back %>
  </div>
</div>
