/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wf-roundedmplus1c { font-family: "Rounded Mplus 1c"; }
.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }
.wf-notosansjapanese { font-family: "Noto Sans Japanese"; }
.wf-mplus1p { font-family: "Mplus 1p"; }

#hide_area{
  display: none;
  width: 300px;
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  z-index: 1000;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .285);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .285);
}

#hide_area2{
  display: none;
  width: 300px;
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  z-index: 1000;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}


#show_btn{
  color: #59493f;
  padding-left:35px;
  text-align: right;
  z-index: 1;
}

#show_btn2{
  color: #59493f;
  padding-left:35px;
  text-align: right;
  z-index: 1;
}

#close{
  color: blue;
  display: block;
  padding-top: 10px;
}

#close2{
  color: blue;
  display: block;
  padding-top: 10px;
}


 .bookings_form{
  padding: 0px 15px;
  top: 30px;
  position: relative;
 }

.bookings_form2{
  top: -65px;
  position: relative;
}

.bookings_form3{
  z-index:2;
}

 .bookings_contents{
   margin-top: 20px;
 }





 /*footerを下に固定*/

 html {
  position: relative;
  min-height: 100%;
}

body{
  background-color: #ffc;
}

 header{
   width: 100%;
   height: 115px;
   margin: 0px;
   padding: 0px;
   background-color: #D2BFA7;
   border-bottom: 7px solid #fff;
   box-shadow:2px 2px 8px 0px #c7c3b1;
 }

#main_title{
  padding: 15px 0px 0px 0px;
  margin: 0px ;
  float: left;
  height: 115px;
}

/* dropdawnmenuを囲むdiv*/

 .dropdown{
  padding: 35px 55px 0px 0px;
  float: right;
 }

 #right_menu{
   margin: 0px;
   padding: 0px;
   float: right;
 }

 ul {
   list-style-type: none;
 }
 h2{
   color: #22ac38;
   margin: 20px 0px 20px 0px;
   padding-left: 40px;
   font-family: "Rounded Mplus 1c";
   background-image: url("wallet.png");
   background-repeat: no-repeat;
 }

 h3{
   font-family: "Rounded Mplus 1c";
   padding: 0px 0px 10px 0px;

 }

a{
  color: #59493f;
}

#main_menu{
  height: 115px;
  padding: 40px 0px 0px 0px ;
  color: #59493f;
}

#main_menu ul{
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

#left_menu li{
  font-family: "Rounded Mplus 1c";
  padding-left: 15px;
  float: left;
}

#right_menu{
  padding:0px 10px 0px 0px;
}

#right_menu li{
  padding: 0px;
}


#main_menu a{
  color: #59493f;
}
 /*h1{
   margin :0px;
   padding: 0px;
 }

 h1 a{
    color: #fff;
    text-decoration: none;
 }

 h1 a:hover{
    color: #fff;
    text-decoration: none;
 }*/

 td{background-color: #fff;
 }

 #contents{
   padding-bottom: 100px;
 }

 /*コンテンツ部分は基本的にこれで囲む*/

.main_contents{
  background-color: #fffcec;
  margin: 30px 0px;
  padding: 20px;
  border: 8px solid #fff;
  box-shadow:2px 2px 6px 3px #c7c3b1;

}

.red{
  color: red;
}

.btn-margin{
  margin-bottom: 30px;
}

/* 入力フォームの横幅を小さく*/
.basic_form{
  padding: 0px 0px 20px 0px;
}

/* 終了したチャレンジのお知らせ*/

.finished_challenge{
  width: 500px;
  border: 3px solid red;
  background-color: yellow;
  padding: 10px;
  margin: 20px auto;
}

/* bootstrapのテーブルデザインに追加*/

.design-table {
  border: 2px solid #ddd;
}

/* ユーザー一覧ページ*/

.each_user{
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0px 0px 30px 0px;
  padding: 10px 0px 10px 10px;
  overflow: hidden;
}

ul.user_detail{
  width: 160px;
  height: 90px;
  list-style-type: none;
  margin:0px 0px 0px 15px;
  padding: 0px;
  float: left;
  overflow: hidden;
}

.email{
  font-size: 10px;
}

/*得点関連のビュー*/

.point{
  font-size: 15px;
  font-weight: bold;
  font-family: "wf-mplus1p";
  color: orange;
}

.total_point{
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.list_info li{
padding: 10px 0px 0px 0px;
}

/*名言*/

.message{
  color:blue;
  font-style:oblique;
  font-size: 20px;
}

.messenger{
  font-size:11px;
  font-style:oblique;
}


/*戻るボタンなどの文字リンク*/

.links{
  margin: 10px 0px 0px 0px;
  text-align: center;
}

/*フッター、下部に固定*/

 footer{
   width: 100%;
   height: 100px;
   background-color: #0c3;
   position: absolute;
   bottom: 0;
   padding: 30px 0px 5px 0px;
   margin: auto;
   font-size: 12px;
   color: #fff;
   text-align: center;
   background-color: #D2BFA7;
   border-top: 7px solid #fff;
   box-shadow:2px 2px 6px 2px #c7c3b1;
 }


 .not_display{
   display: none;
 }

 .text_center{
   text-align: center;
 }
